.wrapper {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  background: $color-background-base;
  width: 90vw;
  padding: 0 5vw;
  min-height: 100vh;
  transition: 1s all;

  @media only screen and (max-width: 375px) {
    width: 95vw;
    padding: 0 2.5vw;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3vh;
  width: 100%;

  &__search {
    display: flex;
    flex-direction: column;
    background-color: $font-text;
    border-radius: 0.2rem;
    position: relative;
    &__input {
      font-size: 1.6rem;
      padding: 1.5rem 2.5rem;
      background-color: $font-text;
      outline: none;
      border: none;
      width: 60rem;
      transition: all 0.3s;
      border-radius: 0.6rem;

      @media only screen and (max-width: 1050px) {
        width: 40rem;
      }

      @media only screen and (max-width: 750px) {
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
      }

      @media only screen and (max-width: 620px) {
        width: 27.5rem;
      }

      @media only screen and (max-width: 500px) {
        padding: 1.5rem 2.5rem;
      }

      @media only screen and (max-width: 450px) {
        width: 22.5rem;
      }

      @media only screen and (max-width: 350px) {
        width: 17.5rem;
      }
    }
    &__submit {
      position: absolute;
      right: -2rem;
      top: -0.6rem;
      height: 6rem;
      width: 6rem;
      border: 1px solid $color-background-base;
      border-radius: 50%;
      background: $font-text;
      outline: none;

      @media only screen and (max-width: 750px) {
        top: -0.75rem;
        height: 6rem;
        width: 6rem;
        right: -1rem;
      }

      @media only screen and (max-width: 375px) {
        top: 0.8rem;
        right: 1rem;
        height: 3rem;
        width: 3rem;
        border: 1px solid $font-text;
      }
    }

    &__icon {
      height: 3rem;
      position: relative;
      top: 0.1rem;

      @media only screen and (max-width: 750px) {
        height: 2.5rem;
      }

      @media only screen and (max-width: 375px) {
        height: 2rem;
        width: 2rem;
      }
    }

    &__results {
      position: absolute;
      &__city {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: space-between;
        z-index: 1000;
        font-size: 1.6rem;
        left: 2px;
        width: 57rem;
        padding: 1.5rem 2.25rem;
        color: #444;
        background-color: $font-text;
        border-top: 3px solid $color-background-base;
        border-left: 1px solid $color-background-base;

        &:hover {
          cursor: pointer;
          background-color: #bfbfbf;
        }

        @media only screen and (max-width: 1050px) {
          width: 37.5rem;
        }

        @media only screen and (max-width: 750px) {
          font-size: 1.4rem;
          width: 35rem;
          padding: 1rem 1.75rem;
        }

        @media only screen and (max-width: 620px) {
          width: 23rem;
        }

        @media only screen and (max-width: 500px) {
          padding: 1.5rem 2.25rem;
        }

        @media only screen and (max-width: 450px) {
          width: 18.5rem;
        }

        @media only screen and (max-width: 350px) {
          width: 15.5rem;
        }
      }
    }
  }

  &__toggle {
    display: flex;
    align-content: center;
    font-size: 2rem;

    &__celsius,
    &__fahrenheit {
      padding: 0 1rem;
      padding-bottom: 1rem;
      transition: all 0.2s;

      &:hover {
        color: #bfbfbf;
        cursor: pointer;
      }
    }

    &__active {
      border-bottom: 2px solid $font-text;
    }
  }
}

.main-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10vh;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5vh;
    width: 100%;
  }

  &__extras {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.6rem;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 30rem;
      margin: 0 1rem;
      margin-bottom: 2rem;

      @media only screen and (max-width: 750px) {
        width: 25rem;
        margin: 0 0.5rem;
        margin-bottom: 2rem;
      }
    }

    &__widget {
      height: 5rem;
    }
  }

  &__location {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 750px) {
      flex-direction: column-reverse;
    }

    &__text {
      @media only screen and (max-width: 750px) {
        text-align: center;
        width: 100%;
      }
    }

    &__country {
      margin-left: 1.5rem;
    }
  }
  &__description {
    font-size: 2.4rem;
    letter-spacing: 2px;
    padding-bottom: 1rem;
  }
  &__temperature {
    font-size: 10rem;
    font-weight: 200;
  }

  &__feels-like__text,
  &__humidity__text,
  &__wind__text,
  &__uv__text,
  &__sunset__text,
  &__sunrise__text {
    font-size: 2.2rem;
    text-align: center;
  }

  &__sunset__widget,
  &__sunrise__widget,
  &__feels-like__widget,
  &__uv__widget,
  &__wind__widget,
  &__humidity__widget {
    height: 6rem;
  }

  &__widget {
    height: 20rem;
    margin-bottom: 1rem;
    position: relative;
    top: -1rem;
  }
}

.forecast {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;

  &__header {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 10rem;
    margin-bottom: 3rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 0 3rem;
    margin-bottom: 3rem;
    width: 7rem;
    padding: 5rem 10rem;
    border: 2px solid $font-text;
    color: $font-text;
    border-radius: 0.5rem;
    &__day {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }
    &__temperature {
      font-size: 6rem;
      font-weight: 200;
    }
    &__icon {
      &__widget {
        height: 8rem;
        position: relative;
        margin-bottom: 1rem;
      }
    }
  }
}

.footer {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 0;
}
