.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-background-base;
  width: 80vw;
  padding: 0 10vw;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3vh;
  width: 100%;

  &__search {
    display: flex;
    flex-direction: column;
    background-color: $font-text;
    border-radius: 0.2rem;
    position: relative;
    &__input {
      font-size: 1.6rem;
      padding: 1.5rem 2.5rem;
      background-color: $font-text;
      outline: none;
      border: none;
      width: 30vw;
      transition: all 0.3s;
      border-radius: 0.6rem;
    }
    &__submit {
      position: absolute;
      right: -2rem;
      top: -0.6rem;
      height: 6rem;
      width: 6rem;
      border: 1px solid $color-background-base;
      border-radius: 50%;
      background: $font-text;
      outline: none;
    }

    &__icon {
      height: 3rem;
      position: relative;
      top: 0.1rem;
    }

    &__results {
      position: absolute;
      &__city {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: space-between;
        font-size: 1.4rem;
        left: 2px;
        width: 28.2vw;
        padding: 1.5rem 2.25rem;
        color: #444;
        background-color: $font-text;
        border-top: 3px solid $color-background-base;

        &:hover {
          cursor: pointer;
          background-color: #bfbfbf;
        }
      }
    }
  }

  &__toggle {
    &__checkbox {
    }
  }
}

.main-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 10vh;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__extras {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.6rem;
  }

  &__location {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
  }
  &__description {
    font-size: 2rem;
    letter-spacing: 2px;
    padding-bottom: 1rem;
  }
  &__temperature {
    font-size: 10rem;
    font-weight: 200;
  }

  &__feels-like,
  &__humidity,
  &__wind,
  &__uv,
  &__sunset,
  &__sunrise {
    font-size: 2rem;
    padding: 1rem 0;

    span {
      margin-right: 1rem;
    }
  }

  &__widget {
    height: 20rem;
    margin-bottom: 1rem;
    position: relative;
    top: -1rem;
  }
}

.forecast {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;

  &__header {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 7.5vh;
    margin-bottom: 5vh;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    width: 7rem;
    padding: 5rem 10rem;
    border: 2px solid $font-text;
    color: $font-text;
    border-radius: 0.5rem;
    &__day {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }
    &__temperature {
      font-size: 6rem;
      font-weight: 200;
    }
    &__icon {
      &__widget {
        height: 8rem;
        position: relative;
        margin-bottom: 1rem;
      }
    }
  }
}
